<%- include("partials/header")  %>
<title>Home Page</title>

</head>

<body>

    <!-- Navigation -->
    <%- include("partials/nav")  %>

    <div class="container">
        <h1>Home Page</h1>
    </div>

    <%- include("partials/footer")  %>